#navbar {
    background: beige; /*PLACEHOLDER COLOR*/
    position: fixed; /*allows the navbar to stay in place*/
    width: 100%; 
    top: 0px;
}

nav ul {    
    list-style-type: none; /*no bullet points*/
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 20px;
}

#navbar a {
    color: black; /*PLACEHOLDER COLOR*/
    text-decoration: none;
    font-size: 18px;
}

#navbar a:hover {
    color: pink; /*PLACEHOLDER COLOR*/
    text-decoration: underline;
}

/**/
#home {
    min-height: 100vh;
    margin-top: 300px;
    text-align: center;
}

#home h1 {
    font-size: 72px;
}

#home p {
    font-size: 36px;
    line-height: 45px;
}

#home a {
    color: black;
    text-decoration: none;
}

#home a:hover {
    color: pink;
}

/**/
#home span { /*view my work button*/
    background: beige; 
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
}

/**/
#about h2 {
    font-size: 48px;
    text-align: center;
}

#about span { /*button*/
    background: beige;
    padding: 10px;
    border-radius: 50px;
}

#about a {
    color: black;
    text-decoration: none;
}

#about a:hover {
    color: pink; /*PLACEHOLDER COLOR*/
}

/*


EMPTY SPACE, WILL BE EDITED 




*/

/**/
#projects h3 {
    font-size: 48px;
    text-align: center;
}

/**/
#contact h4 {
    font-size: 36px;
    text-align: center;
}

