#home {
    min-height: 100vh;
    margin-top: 300px;
    text-align: center;
}

#home h1 {
    font-size: 72px;
}

#home p {
    font-size: 36px;
    line-height: 45px;
}

#home a {
    color: black;
    text-decoration: none;
}

#home a:hover {
    color: pink;
}





