h1 {
    color: blue; 
}

.cerf-img-size {
    width: 100px;
    height: 100px;

} 

.cerf-img-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.cerf-tile {
    display: flex; 
    gap: 10px;
}